html {
    box-sizing: border-box;
}
    
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: rgb(180 ,180, 180);
}

main {
    display:flex;
    background-color: rgb(255 ,255, 255);
    flex-direction: column;
    margin: 5rem;
}

section{
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    max-width: 40%;
}

img{
    width: 100%;
}

h1, h2{
    text-transform: uppercase;
    justify-content: center;
}

p {
    text-align: center;
    margin: 1rem;
}
